{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'rockPaper/reg.css' %}">

</head>
<body>

    {% if request.user.is_authenticated %}
    <p>Hello {{user.username}}</p>
    <a href="{% url 'logout' %}"><button type="button">Logout</button></a>
    <a href="{% url 'rock' %}"><button type="button">Play Game</button></a>

    {% else %}
<form class="decor" method="post">
    {% csrf_token %}
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3>Register</h3>
<input type="text" placeholder="Username" name="username">
<input type="password" placeholder="Password" name="password1">
    <input type="password" placeholder="Repeat password" name="password2">
<input type="submit" value="Register">
    <a href="{% url 'login' %}"><input type="button" value="Log-in"></a>
</div>
</form>
        <img src="{% static 'images/123456.png' %}" width="35%" align="right">

    {% endif %}
</body>
</html>